**/*.swp
**/*~
**/*.sage.py
**/*.pyc
**/*.sig
**/.ropeproject*
database/Add_To_Database*
database/gce*
odds_and_ends/*
oldenburg/*
package/database/Add_To_Database*
package/database/gce*
reduce/*
intrinsics_inventory.txt
TODO.txt
